#artwork{
	.gallery{
		display: block;
	  margin-left: auto;
	  margin-right: auto;
		text-align: center;
		border-radius: 10px;
		background-color: rgb(244,229,250);
		padding: 10px 20px;
		margin-bottom: 20px;
	}
}