#map-generation{
	h1{
		text-align: center;
	}
	#display{
		display: inline-block;
		width: 49%;
		border: 1px solid gray;
	}
	#canvas{
		width: 100%;
	}
	#control-panel{
		width: 50%;
		display: inline-block;
		vertical-align: top;
	}
	#view-toolbar{
		margin: 5px 0px;
	}
	.toolbar-button{
		display: inline-block;
	}
	#new-map{
		margin: 5px 0px;
		display: inline-block;
	}
	#toggle-sim{
		margin: 5px 0px;
		display: inline-block;
	}
	.slider{
		margin: 5px 0px;
	}
}
