---
layout: article
title: Devise Gem
date: 2015-04-17 18:21:09.000000000 -05:00
modified:
categories: 
excerpt:
tags: []
image:
  feature:
  teaser: quest-teaser.jpg
  thumb:
---
<p>The Quest productivity application is almost complete and will be uploaded to Heroku soon!  The last few days I have been working on validations and testing.  Additionally, I incorporated the Devise gem for user authentication and quests now belong to individual users.  I thought it would be a good idea to cover Devise in this blog post and discuss what functionality it has provided my application.</p>
<p>I am extremely grateful for implementing my own authentication system from scratch before attempting to use Devise and understand all of it's intricacies.  Since I have personally written methods to encrypt passwords using hash algorithms and have utilized permanent cookies to store data for remember_me tokens, reading the documentation and learning to use Devise is fairly straightforward.</p>
<p><strong>Devise Overview</strong></p>
<p>Devise is a modular program and can accommodate a wide variety of authentication methods through the inclusion of devise modules.  Devise modules include - :database_authenticatable, :registerable, :recoverable, :rememberable, :trackable, :validatable, :confirmable, :lockable, :timeoutable and :omniauthable.  The developer simply selects which modules they would like to use for their authentication system and Devise generates the appropriate structure.  For instance, in my Quest application I have included the following six modules.</p>
<ul>
<li>Database_authenticatable - encrypts and stores a password in the database to validate the authenticity of a user while signing in</li>
<li>Registerable - handles the creation of users through a registration process, also allows users to edit and delete their profiles.</li>
<li>Recoverable - provides functionality to recover and change passwords</li>
<li>Rememberable - provides the option for a remember_me checkbox, remembering a user log-in for a specified period of time</li>
<li>Trackable - monitors user activity data, accessible by administrators</li>
<li>Validatable - processes validations of emails and passwords</li>
</ul>
<p>What took me days to write by scratch only took two hours with Devise, and those two hours included reading all the requisite documentation.</p>
<p><strong>Devise Views</strong></p>
<p>By issuing the following command in the terminal,</p>
<p>{% highlight ruby linenos %}rails generate devise:views users{% endhighlight %}</p>
<p>Devise provides the developer access to the entirety of its generated user views. This was especially helpful for me because I wanted user views to blend seamlessly with the design I had already established with quests. One particular issue I encountered involved syncing Devise error messages into my current flash display. Quest flash messages displayed nice Bootstrap styling and coloring, however Devise flash messages remained plain-text. I finally discovered that Devise classifies its messages with 'notice' and 'alert' rather than the 'success' and 'danger' tags required by Bootstrap. To solve this problem I added the following helper method to application_helper.rb</p>
{% highlight ruby linenos %}
def flash_class_name(name)
  case name
    when 'notice' then 'success'
    when 'alert'  then 'danger'
  else name
  end
end
{% endhighlight %}
<p>This method simply translates 'notice' into 'success' and 'alert' into 'danger' when prompted for a flash message. It is called in "layouts/application.html.erb" when attempting to display available flash messages.</p>
{% highlight html linenos %}
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= flash_class_name(message_type) %>"><%= message %></div>
<% end %>
{% endhighlight %}
<p><strong>User-Quest Association</strong></p>
<p>Since each quest is created for a specific user I needed to create a one-to-many association between users and quests.  This necessitated adding a user_id column to the quest model, adding 'belongs_to :user' to quests and adding 'has_many :quests' to users.  In previous applications, when creating an association, I nested my routes to reflect this change in hierarchy.  For instance, I would place quest resources within the user resources like so,</p>
{% highlight ruby linenos %}
resources :users do
  resources :quests
end
{% endhighlight %}
<p>Sadly, this method did not work with the devise generated User model. Instead of the method 'resources,' the User model routes are generated with 'devise_for.' When I attempted to place the quests resources within users, rake routes did not recognize the existence of any quest routes. I attempted to find a solution on Google but from what I found, most developers forgo nesting routes and simply declare the association in the models, nothing more. There was no mention of adjusting routes to further strengthen the association. I eventually surrendered the notion that I might create nested routes and declared the association in the models. If you know a way nested routes might be declared using the User model generated by Devise, please leave a comment below.</p>
<p><strong>Conclusion</strong></p>
<p>Overall I am pleased with the performance of Devise. I enjoy the modularity and ease of Devise authentication systems even if they are more of a 'black box' than designing an authentication system from scratch would be. I am also glad I didn't use Devise for my first application. I learned an incredible amount working on an authentication system from the ground up and would recommend anyone doing authentication for the first time to do the same. Beyond the first few applications though, Devise is an incredible intermediate tool that saves a lot of time and energy.  I am excited to uncover more of it's secrets.</p>
<p>Helpful links I found researching Devise:</p>
<ul>
<li><a href="http://devise.plataformatec.com.br/">Official Devise - Getting Started</a></li>
<li><a href="http://www.gotealeaf.com/blog/how-to-use-devise-in-rails-for-authentication">Tealeaf Academy Blog - How to Use Devise in Rails for Authentication</a></li>
<li><a href="http://guides.railsgirls.com/devise/">Rails Girls - Adding Authentication with Devise</a></li>
</ul>
